header {
    padding-top: 7rem;
}

.header__container {
    display: flex;
}

/* ================= HEADER SOCIALS ================ */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-right: auto;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ================= ME ================ */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 20rem;
    border-radius: 12rem;
    overflow: hidden;
    padding: 0rem 1.5rem 1.5rem 2rem;
    margin-right: 5rem;
}

/* ================= HEADER INFO ================ */

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ================= CTA ================ */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ================= SCROLL DOWN ================ */
.header__scrolldown {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.scroll__down {
    display: flex;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1130px) {
    .header__container {
        display: block;
        position: relative;
    }

    .header__socials {
        position: absolute;
        bottom: 0;
    }

    .me {
        margin: 0 auto 2rem;
    }

    .scroll__down {
        position: absolute;
        right: 0;
        bottom: 2rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {

    .header__socials,
    .scroll__down {
        display: none;
    }
}